<div class="card">
  <mat-card *ngFor="let function of functions1">
    <mat-card-title>
      <b>{{function.name}}</b>
    </mat-card-title>
    <mat-card-content>
      <mat-icon class="unselectable">{{function.image}}</mat-icon>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{function.function}}</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card">
  <mat-card *ngFor="let function of functions2">
    <mat-card-title>
      <b>{{function.name}}</b>
    </mat-card-title>
    <mat-card-content>
      <mat-icon class="unselectable">{{function.image}}</mat-icon>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{function.function}}</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card">
  <mat-card *ngFor="let function of functions3">
    <mat-card-title>
      <b>{{function.name}}</b>
    </mat-card-title>
    <mat-card-content>
      <mat-icon class="unselectable">{{function.image}}</mat-icon>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>{{function.function}}</button>
    </mat-card-actions>
  </mat-card>
</div>
