<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div class="drawer-header">
      Header
    </div>
    <div class="drawer-content">
      Navigation
    </div>
    <div class="drawer-footer">
      Footer
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="homeheader">
      <h1 class="headline unselectable">SQM Parser
        <mat-icon class="unselectable" [routerLink]="['/options']">settings</mat-icon>
      </h1>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
