div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45vh;
  flex-direction: column;
}

input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input,
label {
  font-size: 28px;
  font-weight: 700;
  background-color: #78866B;
  padding: 5px;
}

h1 {
  text-align: center;
}

button {
  margin-top: 5px;
}
